.order-order{
    margin: 0px 20px;
}

.order-order h2{
  margin-bottom: 20px;
  font-size: 19px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
    text-align: center;
  }

  tr td{
    border-bottom: 1px solid #ccc;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .approve-button {
    padding: 4px 8px;
    width: 100px;
    border: none;
    background-color: #4CAF50;
    text-transform: none;
    font-size: 15px;
    color: white;
    cursor: pointer;
  }

  .approve-button:hover {
    background-color: #45a049;
  }

  button{
    margin-top: 0px;
  }
