.porduct-admin{
    margin: 0px 20px;
}

.porduct-admin h2 {
    margin-bottom: 20px;
    font-size: 19px;
}

.btn-edit{
    color: #0d99ff;
    cursor: pointer;
    margin: 0px 5px;
}

.btn-delete{
    color: red;
    cursor: pointer;
}

.btn-add{
    color: #44bd32;
    cursor: pointer;
}

tbody tr img{
    height: 100px;
    height: 100px;
}

.form{
    width: 600px;
    border-radius: 10px;
    background-color: #f5f6fa;
    padding: 50px 10px 0 10px;
    margin-top: 5px;
    position: fixed;
}

.form .btn-add{
    background-color: #f0932b;
    color: white;
    transition: 0.2s ease-out;
}

.form button:hover{
    color: black;
}

.box-show-add label{
    text-transform: capitalize;
    margin-left: 10px;
    font-weight: bold;
}

.box-show-add input{
    border: none;
    border: 1px solid #c2c2c2;
}

.input-last{
    border: none !important;
}


.button-close{
    width: 100px;
    background-color: rgb(199, 57, 57);
    margin: 30px 470px;
    padding: 5px;
}


