.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 10px; */
  padding: 0;
  background-color: #f5f5f5;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
}

.header img {
  height: 70px;
  width: 140px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px;

}
.header-search {
  position: relative;
}
.header-search .search-icon {
  position: absolute;
  left: 10px;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.header-search input{
  padding: 10px 300px 10px 40px;
  background-color: transparent;
  outline: none;
  border: 1px solid grey;
  border-radius: 10px;
}

.header-more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  margin-right: 10px;
}



.number-cart{
  color: rgb(255, 255, 255);
  width: 20px;
  font-weight: bold;
  text-align: center;

}

.btn-login p {
  margin-right: 10px;
  border: 1px solid #218c74;
  height: 40px;
  width: 100px;
  display: flex;
  align-items: center;
  padding-left: 35px;
  border-radius: 40px;
  color: black;
  transition: 0.3s ease-in-out;
}

.btn-login p:hover{
  background-color: #218c74;
  color: white;
  font-weight: bold;
}

.user-mail{
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-logout{
  cursor: pointer;
  border-radius: 40px;
  border: 1px solid #218c74;
  background-color: white;
  color: black;
  display: flex;
  padding-left: 12px;
  padding-top: 17px;
  align-items: center;
  height: 40px;
  width: 100px;
  margin: 15px 50px;
  transition: 0.3s ease-in-out;
}

.btn-logout:hover{
  background-color: #218c74;
  color: white;
  font-weight: bold;
}

.icon-shopping {
  display: flex;
  align-items: center;
  position: relative;
}

.icon-cart {
  font-size: 40px;
  color: black
}

.number-cart {
  position: absolute;
  top: -10px;
  right: 10px;
}

/* responsive */

@media screen and (max-width: 1017px) {
  .btn-logout{
    margin: 70px 10px;
  }
  .header-search input{
    padding: 10px 140px 10px 40px;
  }
  .user-mail {
    display: flex;
    align-items: baseline;
}
}

@media screen and (max-width: 776px) {
  .btn-logout{
    margin-right: 50px;
  }

}

@media screen and (max-width: 665px) {
  .btn-logout{
    margin-right: 50px;
  }


.header-search .search-icon {
  position: absolute;
  left: 10px;
  top: 55%;
  transform: translateY(-50%);
}
}

@media screen and (max-width: 432px) {
  .header-search{
    display: none;
  }
  .btn-login{
    margin-right: 10px;
  }

}