.choose {
  display: flex;
  align-items: center;
  text-align: center;
}

.choose input {
  width: 20px;
  height: 20px;
  margin: 0px;
}

.choose label {
  background-color: #ffffff76;
  padding: 5px;
  width: 200px;
  font-size: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  
}

.form-inf label {
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px;
}

input::placeholder {
  color: #ffa502;
}

.form-inf {
  border-radius: 10px;
  width: 500px;
  margin: 150px 60px 100px 0;
  padding: 20px;
  color: rgb(0, 0, 0);
  -webkit-box-shadow: 5px 5px 11px 0px rgba(173, 173, 173, 1);
  -moz-box-shadow: 5px 5px 11px 0px rgba(173, 173, 173, 1);
  box-shadow: 5px 5px 11px 0px rgba(173, 173, 173, 1);
}

.form-inf>input {
  border: none;
  border-bottom: 2px solid;
  outline: none;
  height: 30px;
}

.form-inf button {
  background-color: #245d43;
  border: none;
  transition: 0.3s ease-in;
}

.form-inf button:hover {
  background-color: #ffa502;
  color: #000000;
}

/* responsive */
@media screen and (max-width: 876px) {
  .form-inf{
    width: 365px;
    margin-right: 20px;
    margin-top: 150px;
  }
  input{
    height: 35px;
  }
  button{
    margin-top: 15px;
  }
}