.root-card {
  width: 300px;
  height: 110px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
}
 
img {
  align-self: center;
}

.icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #ff9f1a;
  font-size: 20px;
}